!!! 5
%html{lang: 'pt-BR'}

  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{name: "author", content: "juliobetta"}
    = favicon_link_tag 'wedding-couple.png'

    %title Jessica e Julio

    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body{'data-spy' => 'scroll', 'data-target' => '#navbar-links', 'data-offset' => 5}
    %header#home
      = render partial: "shared/navbar"
      = render partial: "shared/cover"

    #main-container
      .container
        = render partial: "shared/dialogs"
        = render partial: "shared/notification", locals: {flash: flash}
        = yield

    #push

    %footer

    = javascript_include_tag "//maps.google.com/maps/api/js?sensor=true"
    = javascript_include_tag "application"